<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hs.web.mapper.MemberMapper">

  <sql id="listConditions">
    WHERE 1=1 AND deleteyn = 0
    <if test='sch_memberid != null and sch_memberid != ""'>
      AND A.memberid  LIKE CONCAT('%', #{sch_memberid},'%')
    </if>
    <if test='sch_joindate != null and sch_joindate != ""'>
      AND A.joindate  LIKE CONCAT('%', #{sch_joindate},'%')
    </if>
    <if test='sch_name != null and sch_name != ""'>
      AND A.name  LIKE CONCAT('%', #{sch_name},'%')
    </if>
    <if test='sch_usestartdate != null and sch_usestartdate != ""'>
      AND A.usestartdate  LIKE CONCAT('%', #{sch_usestartdate},'%')
    </if>
    <if test='sch_useenddate != null and sch_useenddate != ""'>
      AND A.useenddate  LIKE CONCAT('%', #{sch_useenddate},'%')
    </if>
    <if test='sch_handphone != null and sch_handphone != ""'>
      AND A.handphone  LIKE CONCAT('%', #{sch_handphone},'%')
    </if>
  </sql>

  <select id="list" parameterType="dbmap" resultType="dbmap">
    <include refid="com.hs.web.mapper.paging_start"/>
    SELECT
          A.memberid,
          A.password,
          A.grade,
          A.name,
          A.telephone,
          A.handphone,
          A.cameracount,
          A.ipaddress,
          A.listenport,
          A.camerainfo1,
          A.camerainfo2,
          A.camerainfo3,
          A.camerainfo4,
          A.camerainfo5,
          A.camerainfo6,
          A.camerainfo7,
          A.camerainfo8,
    DATE_FORMAT( A.joindate,'%Y.%m.%d') "joindate",
    DATE_FORMAT( A.usestartdate,'%Y.%m.%d') "usestartdate",
    DATE_FORMAT( A.useenddate,'%Y.%m.%d') "useenddate",
          A.deleteyn,
          DATE_FORMAT( A.regtime,'%Y.%m.%d') "regtime"
    FROM member A
    <include refid="com.hs.web.mapper.MemberMapper.listConditions"/>
    ORDER BY A.regtime DESC
    <include refid="com.hs.web.mapper.paging_end"/>
  </select>

  <select id="listCnt" parameterType="dbmap" resultType="int">
    SELECT COUNT(*) AS cnt
    FROM member A
    <include refid="com.hs.web.mapper.MemberMapper.listConditions"/>
  </select>

  <select id="idCheck" parameterType="dbmap" resultType="int">
    SELECT COUNT(*) AS cnt
    FROM member A
      WHERE 1=1 AND deleteyn = 0 AND A.memberid  = #{memberid}

  </select>

  <select id="idPwCheck" parameterType="dbmap" resultType="int">
    SELECT COUNT(*) AS cnt
    FROM member A
    WHERE A.memberid  = #{memberid} AND  A.password  = #{password} AND deleteyn = 0
  </select>

    <select id="idPwDelChk" parameterType="dbmap" resultType="int">
        SELECT COUNT(*) AS cnt
        FROM member A
        WHERE A.memberid  = #{memberid} AND  A.password  = #{password} AND deleteyn = 1
    </select>

  <select id="detail" parameterType="dbmap" resultType="dbmap">
    SELECT
          A.memberid,
          A.password,
          A.grade,
          A.name,
          A.telephone,
          A.handphone,
          A.cameracount,
          A.ipaddress,
          A.listenport,
          A.camerainfo1,
          A.camerainfo2,
          A.camerainfo3,
          A.camerainfo4,
          A.camerainfo5,
          A.camerainfo6,
          A.camerainfo7,
          A.camerainfo8,
        DATE_FORMAT( A.joindate,'%Y.%m.%d') "joindate",
    DATE_FORMAT( A.usestartdate,'%Y.%m.%d') "usestartdate",
    DATE_FORMAT( A.useenddate,'%Y.%m.%d') "useenddate",
          A.deleteyn,
    DATE_FORMAT( A.regtime,'%Y.%m.%d') "regtime"
    FROM member A
    WHERE 1=1 AND A.memberid = #{memberid}
  </select>

  <insert id="insert" parameterType="dbmap">
    INSERT INTO member (
    memberid,
    password,
    grade,
    name,
    telephone,
    handphone,
    cameracount,
    ipaddress,
    listenport,
    camerainfo1,
    camerainfo2,
    camerainfo3,
    camerainfo4,
    camerainfo5,
    camerainfo6,
    camerainfo7,
    camerainfo8,
    joindate,
    usestartdate,
    useenddate,
    deleteyn,
    regtime
    )
    VALUES (
    #{memberid},
    #{password},
    #{grade},
    #{name},
    #{telephone},
    #{handphone},
      #{cameracount},
    #{ipaddress},
    20001,
    #{camerainfo1},
    #{camerainfo2},
    #{camerainfo3},
    #{camerainfo4},
    #{camerainfo5},
    #{camerainfo6},
    #{camerainfo7},
    #{camerainfo8},
    #{joindate},
    #{usestartdate},
    #{useenddate},
    0,
    DATE_FORMAT(NOW()+0,'%Y%m%d%H%i%s')
    )
    <selectKey resultType="int" keyProperty="memberid" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>

  <update id="update" parameterType="dbmap">
    UPDATE member
    <set>
      <if test='memberid != null and memberid != ""'>memberid = #{memberid},</if>
      <if test='password != null and password != ""'>password = #{password},</if>
      <if test='grade != null and grade != ""'>grade = #{grade},</if>
      <if test='name != null and name != ""'>name = #{name},</if>
      <if test='telephone != null and telephone != ""'>telephone = #{telephone},</if>
      <if test='handphone != null and handphone != ""'>handphone = #{handphone},</if>
      <if test='cameracount != null and cameracount != ""'>cameracount = #{cameracount},</if>
      <if test='ipaddress != null and ipaddress != ""'>ipaddress = #{ipaddress},</if>
      <if test='listenport != null and listenport != ""'>listenport = #{listenport},</if>
      <if test='camerainfo1 != null and camerainfo1 != ""'>camerainfo1 = #{camerainfo1},</if>
      <if test='camerainfo2 != null and camerainfo2 != ""'>camerainfo2 = #{camerainfo2},</if>
      <if test='camerainfo3 != null and camerainfo3 != ""'>camerainfo3 = #{camerainfo3},</if>
      <if test='camerainfo4 != null and camerainfo4 != ""'>camerainfo4 = #{camerainfo4},</if>
      <if test='camerainfo5 != null and camerainfo5 != ""'>camerainfo5 = #{camerainfo5},</if>
      <if test='camerainfo6 != null and camerainfo6 != ""'>camerainfo6 = #{camerainfo6},</if>
      <if test='camerainfo7 != null and camerainfo7 != ""'>camerainfo7 = #{camerainfo7},</if>
      <if test='camerainfo8 != null and camerainfo8 != ""'>camerainfo8 = #{camerainfo8},</if>
      <if test='joindate != null and joindate != ""'>joindate = #{joindate},</if>
      <if test='usestartdate != null and usestartdate != ""'>usestartdate = #{usestartdate},</if>
      <if test='useenddate != null and useenddate != ""'>useenddate = #{useenddate},</if>
      <if test='deleteyn != null and deleteyn != ""'>deleteyn = #{deleteyn},</if>     
      <if test='regtime!= null and regtime!= ""'>regtime = DATE_FORMAT(NOW()+0,'%Y%m%d%H%i%s'),</if>
    </set>
    WHERE 1=1
    AND memberid = #{memberid}
  </update>

  <update id="updateHitcount" parameterType="dbmap">
    UPDATE member
    set hitcount = hitcount+1
    WHERE 1=1
    AND memberid = #{memberid}
  </update>


  <delete id="delete" parameterType="dbmap">
    UPDATE member
    SET deleteyn	 = 1
    WHERE 1=1
    AND memberid = #{memberid}

  </delete>


    <delete id="restore" parameterType="dbmap">
        UPDATE member
        SET deleteyn	 = 0
        WHERE 1=1
        AND memberid = #{memberid}

    </delete>


  <update id="initailizePwd" parameterType="dbmap">
    UPDATE member
    SET password= '1234'
    WHERE 1=1
    AND memberid = #{memberid}
  </update>




</mapper>