<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hs.web.mapper.AdInfoMapper">

  <sql id="listConditions">
    WHERE 1=1
    <if test='sch_adindex != null and sch_adindex != ""'>
      AND A.adindex  LIKE CONCAT('%', #{sch_adindex},'%')
    </if>
    <if test='sch_adtitle != null and sch_adtitle != ""'>
      AND A.adtitle  LIKE CONCAT('%', #{sch_adtitle},'%')
    </if>
    <if test='sch_adowner != null and sch_adowner != ""'>
      AND A.adowner  LIKE CONCAT('%', #{sch_adowner},'%')
    </if>
    <if test='sch_telephone != null and sch_telephone != ""'>
      AND A.telephone  LIKE CONCAT('%', #{sch_telephone},'%')
    </if>
    <if test='sch_usestartdate != null and sch_usestartdate != ""'>
      AND A.usestartdate  LIKE CONCAT('%', #{sch_usestartdate},'%')
    </if>
    <if test='sch_useenddate != null and sch_useenddate != ""'>
      AND A.useenddate  LIKE CONCAT('%', #{sch_useenddate},'%')
    </if>
    <if test='sch_playorder != null and sch_playorder != ""'>
      AND A.playorder  LIKE CONCAT('%', #{sch_playorder},'%')
    </if>
    <if test='sch_filename != null and sch_telephone != ""'>
      AND A.telephone  LIKE CONCAT('%', #{sch_telephone},'%')
    </if>
  </sql>

  <select id="list" parameterType="dbmap" resultType="dbmap">
    <include refid="com.hs.web.mapper.paging_start"/>
    SELECT
    A.adindex,
    A.adtitle,
    A.adowner,
    A.telephone,
    DATE_FORMAT( A.usestartdate,'%Y.%m.%d') "usestartdate",
    DATE_FORMAT( A.useenddate,'%Y.%m.%d') "useenddate",
    A.playorder,
    A.filename,A.advwebsite,
    DATE_FORMAT( A.regtime,'%Y.%m.%d') "regtime"
    FROM adinfo A
    <include refid="com.hs.web.mapper.AdInfoMapper.listConditions"/>
    ORDER BY A.playorder ASC
    <include refid="com.hs.web.mapper.paging_end"/>
  </select>

  <select id="listCnt" parameterType="dbmap" resultType="int">
    SELECT COUNT(*) AS cnt
    FROM adinfo A
    <include refid="com.hs.web.mapper.AdInfoMapper.listConditions"/>
  </select>  

  <select id="detail" parameterType="dbmap" resultType="dbmap">
    SELECT
      A.adindex,
      A.adtitle,
      A.adowner,
      A.telephone,
      DATE_FORMAT( A.usestartdate,'%Y.%m.%d') "usestartdate",
      DATE_FORMAT( A.useenddate,'%Y.%m.%d') "useenddate",
      A.playorder,
      A.filename,A.advwebsite,
      DATE_FORMAT( A.regtime,'%Y.%m.%d') "regtime"
    FROM adinfo A
    WHERE 1=1 AND A.adindex = #{adindex}
  </select>

  <insert id="insert" parameterType="dbmap">
    INSERT INTO adinfo (
      adindex,
      adtitle,
      adowner,
      telephone,
      usestartdate,
      useenddate,
    <if test = "playorder != null and playorder != ''">
      playorder,
    </if>
      filename,
    <if test = "advwebsite != null and advwebsite != ''">
      advwebsite,
    </if>
      regtime
    )
    VALUES (
      #{adindex},
      #{adtitle},
      #{adowner},
      #{telephone},
      #{usestartdate},
      #{useenddate},
    <if test = "playorder != null and playorder != ''">
      #{playorder},
    </if>
      #{filename},
    <if test = "advwebsite != null and advwebsite != ''">
      #{advwebsite},
    </if>
      DATE_FORMAT(NOW()+0,'%Y%m%d%H%i%s')
    )
    <selectKey resultType="int" keyProperty="adindex" order="BEFORE">
      SELECT IFNULL((MAX(adindex)+1),1) FROM adinfo
    </selectKey>
  </insert>

  <select id="getNextPlayOrder" resultType="int">
    SELECT IFNULL((MAX(playorder)+1),1) FROM adinfo
  </select>

  <select id="getNextAdindex" resultType="int">
    SELECT IFNULL((MAX(adindex)+1),1) FROM adinfo
  </select>

  <select id="adCheck" parameterType="dbmap" resultType="int">
    SELECT COUNT(*) AS cnt
    FROM adinfo A
    WHERE 1=1 AND A.adtitle  = #{adtitle}
  </select>

  <update id="update" parameterType="dbmap">
    UPDATE adinfo
    <set>
      <if test='adtitle != null and adtitle != ""'>adtitle = #{adtitle},</if>
      <if test='adowner != null and adowner != ""'>adowner = #{adowner},</if>
      <if test='telephone != null and telephone != ""'>telephone = #{telephone},</if>
      <if test='usestartdate != null and usestartdate != ""'>usestartdate = #{usestartdate},</if>
      <if test='useenddate != null and useenddate != ""'>useenddate = #{useenddate},</if>
      <if test='playorder != null and playorder != ""'>playorder = #{playorder},</if>
      <if test='filename != null and filename != ""'>filename = #{filename},</if>
      <if test='advwebsite != null and advwebsite != ""'>advwebsite = #{advwebsite},</if>
      <if test='filename != null and filename != ""'>fileversion = fileversion+1,</if>
      <if test='regtime != null and regtime != ""'>regtime= DATE_FORMATNOW()+0,'%Y%m%d%H%i%s')</if>
    </set>
    WHERE 1=1
    AND adindex = #{adindex}
  </update>

  <update id="upPlayOrder" parameterType="dbmap">
    UPDATE adinfo
    SET playorder = playorder-1
    WHERE 1=1
    AND adindex = #{adindex}
  </update>

  <update id="upPlayOrderOther" parameterType="dbmap">
    UPDATE adinfo
    SET playorder = playorder+1
    WHERE 1=1
    AND playorder = #{playorder}-1
  </update>

  <update id="downPlayOrder" parameterType="dbmap">
    UPDATE adinfo
    SET playorder = playorder + 1
    WHERE 1=1
    AND adindex = #{adindex}
  </update>

  <update id="downPlayOrderOther" parameterType="dbmap">
    UPDATE adinfo
    SET playorder = playorder - 1
    WHERE 1=1
    AND playorder = #{playorder}+1
  </update>

  <select id="getPlayOrderMinMax" parameterType="dbmap" resultType="dbmap">
    SELECT MIN(playorder) "playordermin", MAX(playorder) "playordermax" from adinfo
  </select>

</mapper>