<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hs.web.mapper.AdInfoMapper">

  <sql id="listConditions">
    WHERE 1=1
    <if test='sch_memberid != null and sch_memberid != ""'>
      AND A.memberid  LIKE CONCAT('%', #{sch_memberid},'%')
    </if>
    <if test='sch_address != null and sch_address != ""'>
      AND A.address  LIKE CONCAT('%', #{sch_address},'%')
    </if>
    <if test='sch_name != null and sch_name != ""'>
      AND A.name  LIKE CONCAT('%', #{sch_name},'%')
    </if>
    <if test='sch_usestartdate != null and sch_usestartdate != ""'>
      AND A.usestartdate  LIKE CONCAT('%', #{sch_usestartdate},'%')
    </if>
    <if test='sch_useenddate != null and sch_useenddate != ""'>
      AND A.useenddate  LIKE CONCAT('%', #{sch_useenddate},'%')
    </if>
    <if test='sch_regtime != null and sch_regtime != ""'>
      AND A.regtime  LIKE CONCAT('%', #{sch_regtime},'%')
    </if>
    <if test='sch_handphone != null and sch_handphone != ""'>
      AND A.handphone  LIKE CONCAT('%', #{sch_handphone},'%')
    </if>
    <if test='sch_telephone != null and sch_telephone != ""'>
      AND A.telephone  LIKE CONCAT('%', #{sch_telephone},'%')
    </if>
    <if test='sch_introduce != null and sch_introduce != ""'>
      AND A.introduce  LIKE CONCAT('%', #{sch_introduce},'%')
    </if>
  </sql>

  <select id="list" parameterType="dbmap" resultType="dbmap">
    <include refid="com.hs.web.mapper.paging_start"/>
    SELECT
    A.adindex,
    A.adtitle,
    A.adowner,
    A.telephone,
    A.usestartdate,
    A.useenddate,
    A.playorder,
    A.filename,
    DATE_FORMAT( A.regtime,'%Y.%m.%d') "regtime"
    FROM adinfo A
    <include refid="com.hs.web.mapper.AdInfoMapper.listConditions"/>
    ORDER BY A.regtime DESC
    <include refid="com.hs.web.mapper.paging_end"/>
  </select>

  <select id="listCnt" parameterType="dbmap" resultType="int">
    SELECT COUNT(*) AS cnt
    FROM adinfo A
    <include refid="com.hs.web.mapper.AdInfoMapper.listConditions"/>
  </select>  

  <select id="detail" parameterType="dbmap" resultType="dbmap">
    SELECT
      A.adindex	,
      A.adtitle	,
      A.adowner	,
      A.telephone	,
      A.usestartdate	,
      A.useenddate	,
      A.playorder	,
      A.filename	,
      DATE_FORMAT( A.regtime,'%Y.%m.%d') "regtime"
    FROM adinfo A
    WHERE 1=1 AND A.memberid = #{memberid}
  </select>

  <insert id="insert" parameterType="dbmap">
    INSERT INTO adinfo (
    adindex,
    adtitle,
    adowner,
    telephone,
    usestartdate,
    useenddate,
    playorder,
    filename,   
    regtime
    )
    VALUES (
    #{adindex},
    #{adtitle},
    #{adowner},
    #{telephone},
    #{usestartdate},
    #{useenddate},
    #{playorder},
    #{filename},    
    DATE_FORMAT(NOW()+0,'%Y%m%d%H%i%s')
    )
    <selectKey resultType="int" keyProperty="memberid" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>


  <update id="update" parameterType="dbmap">
    UPDATE adinfo
    <set>
      <if test='adindex != null and adindex != ""'>adindex = #{adindex},</if>
      <if test='adtitle != null and adtitle != ""'>adtitle = #{adtitle},</if>
      <if test='adowner != null and adowner != ""'>adowner = #{adowner},</if>
      <if test='telephone != null and telephone != ""'>telephone = #{telephone},</if>
      <if test='usestartdate != null and usestartdate != ""'>usestartdate = #{usestartdate},</if>
      <if test='useenddate != null and useenddate != ""'>useenddate = #{useenddate},</if>
      <if test='playorder != null and playorder != ""'>playorder = #{playorder},</if>
      <if test='filename != null and filename != ""'>filename = #{filename},</if>
      <if test='regtime != null and regtime != ""'>regtime= DATE_FORMATNOW()+0,'%Y%m%d%H%i%s')</if>
    </set>
    WHERE 1=1
    AND adindex = #{adindex}
  </update>

</mapper>