<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hs.web.mapper.HealthMapper">
  <sql id="listConditions">
    WHERE 1=1
    <if test='sch_healthindex != null and sch_healthindex != ""'>
      AND A.healthindex  LIKE CONCAT('%', #{sch_healthindex},'%')
    </if>
    <if test='sch_healthtitle != null and sch_healthtitle != ""'>
      AND A.healthtitle  LIKE CONCAT('%', #{sch_healthtitle},'%')
    </if>

    <if test='sch_usestartdate != null and sch_usestartdate != ""'>
      AND  DATE_FORMAT(A.regtime,'%Y%m%d') <![CDATA[>=]]> DATE_FORMAT(#{sch_usestartdate},'%Y%m%d')
    </if>
    <if test='sch_useenddate != null and sch_useenddate != ""'>
      AND  DATE_FORMAT(A.regtime,'%Y%m%d') <![CDATA[<=]]> DATE_FORMAT(#{sch_useenddate},'%Y%m%d')
    </if>
  </sql>

  <!--번호 제목 아이디 이름 전화번호 휴대폰번호 직업 전문 소속 경력 사진 내용 등록 시간-->
  <select id="list" parameterType="dbmap" resultType="dbmap">
    <include refid="com.hs.web.mapper.paging_start"/>
    SELECT
            A.healthindex,
            A.healthtitle,
            A.regid,
            B.name,
            B.telephone,
            B.handphone,
            B.job,
            B.specialty,
            B.belongto,
            B.career,         
            A.thumbnailfile,
            A.healthcontent,
            DATE_FORMAT( A.regtime,'%Y.%m.%d %H:%i:%s') "regtime"
    FROM health A
      LEFT OUTER JOIN  special_member B ON A.regid = B.specialid

    <include refid="com.hs.web.mapper.HealthMapper.listConditions"/>
    ORDER BY A.regtime DESC
    <include refid="com.hs.web.mapper.paging_end"/>
  </select>
  <!--#     LEFT OUTER JOIN health_file C ON A.healthindex = C.healthindex-->
  <select id="listCnt" parameterType="dbmap" resultType="int">
    <include refid="com.hs.web.mapper.paging_start"/>
    SELECT IFNULL(COUNT(*),0) AS cnt
    FROM health A
    <include refid="com.hs.web.mapper.HealthMapper.listConditions"/>
    <include refid="com.hs.web.mapper.paging_end"/>
  </select>

  <select id="idCheck" parameterType="dbmap" resultType="int">
    SELECT COUNT(*) AS cnt
    FROM health A
      WHERE 1=1 AND A.healthindex  = #{healthindex}
  </select>

  <select id="getLastIndex" parameterType="dbmap" resultType="dbmap">
    SELECT MAX(healthindex) AS lastIndex
    FROM health A
  </select>

<select id="getNextIndex" resultType="int">
    SELECT IFNULL((MAX(healthindex)+1),1) FROM health
</select>

  <select id="getLastFileIndex" parameterType="dbmap" resultType="dbmap">
    SELECT MAX(sequencenum) AS lastFileIndex
    FROM health_file A
  </select>

  <select id="addressCheck" parameterType="dbmap" resultType="int">
    SELECT COUNT(*) AS cnt
    FROM health A
    WHERE A.name  = #{name} AND  A.address  = #{address}
  </select>

  <select id="idPwDelChk" parameterType="dbmap" resultType="int">
      SELECT COUNT(*) AS cnt
      FROM health A
      WHERE A.healthindex  = #{healthindex} 
  </select>

  <select id="detail" parameterType="dbmap" resultType="dbmap">
    SELECT
            A.healthindex,
            A.healthtitle,
            A.regid,
            A.healthcontent,
            A.searchcount,
            DATE_FORMAT( A.regtime,'%Y.%m.%d %H:%i') "regtime"

    FROM health A


    WHERE 1=1 AND A.healthindex = #{healthindex}
  </select>

  <select id="detailFile" parameterType="dbmap" resultType="dbmap">
    SELECT
          B.healthindex,
        DATE_FORMAT( B.regtime,'%Y.%m.%d %H:%i') "regtime",
        B.sequencenum,
        B.pictureorder,
        B.filename

    FROM health A
      LEFT OUTER JOIN health_file B ON A.healthindex = B.healthindex

    WHERE 1=1 AND A.healthindex = #{healthindex}
  </select>


  <insert id="insert" parameterType="dbmap">
    INSERT INTO health (
      healthindex,
      healthtitle,
      regid,
      healthcontent,
      searchcount,
      heartcount,
      thumbnailfile,
      regtime
    )
    VALUES (
      #{healthindex},
      #{healthtitle},
      #{regid},
      #{healthcontent},
      1,
      1,
      #{thumbnailfile},
      DATE_FORMAT(NOW()+0,'%Y%m%d%H%i%s')
    )
    <selectKey resultType="int" keyProperty="healthindex" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>

  <insert id="insertFile" parameterType="dbmap">
    INSERT INTO health_file (
      healthindex,
      sequencenum,
      pictureorder,
      filename,
      regtime
    )
    VALUES (
      #{healthindex},
      #{sequencenum},
      #{pictureorder},
      #{filename},
      DATE_FORMAT(NOW()+0,'%Y%m%d%H%i%s')
    )
    <selectKey resultType="int" keyProperty="sequencenum" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>


  <update id="update" parameterType="dbmap">
    UPDATE health
    <set>
      <if test='healthindex != null and healthindex != ""'>healthindex= #{healthindex},</if>
      <if test='healthtitle != null and healthtitle != ""'>healthtitle= #{healthtitle},</if>
      <if test='regid != null and regid != ""'>regid= #{regid},</if>
      <if test='healthcontent != null and healthcontent != ""'>healthcontent= #{healthcontent},</if>
      <if test='searchcount != null and searchcount != ""'>searchcount= #{searchcount},</if>
      <if test='heartcount != null and heartcount != ""'>heartcount= #{heartcount},</if>
      <if test='thumbnailfile != null and thumbnailfile != ""'>thumbnailfile= #{thumbnailfile},</if>
      <if test='regtime != null and regtime != ""'>regtime= DATE_FORMAT(NOW()+0,'%Y%m%d%H%i%s')</if>
    </set>
    WHERE 1=1
    AND healthindex = #{healthindex}
  </update>


  <update id="updateHitcount" parameterType="dbmap">
    UPDATE health
    set searchcount = searchcount+1
    WHERE 1=1
    AND healthindex = #{healthindex}
  </update>


  <delete id="delete" parameterType="dbmap">
    DELETE FROM health
    WHERE 1=1
    AND healthindex = #{healthindex}
  </delete>
    

  <delete id="deleteFile" parameterType="dbmap">
    DELETE FROM health_file
    WHERE 1=1
    AND healthindex = #{healthindex} AND sequencenum = #{sequencenum}
  </delete>


  <select id="currMemberId" parameterType="dbmap" resultType="String">
    SELECT IFNULL(MAX(healthindex),0)
    FROM health
    WHERE SUBSTRING(healthindex,1,1) = 'B' AND LENGTH(healthindex)=10
  </select>


</mapper>