<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hs.web.mapper.HealthMapper">
    <sql id="listConditions">
        WHERE 1=1
        <if test='sch_healthindex != null and sch_healthindex != ""'>
            AND A.healthindex = #{sch_healthindex}
        </if>
        <if test='sch_healthtitle != null and sch_healthtitle != ""'>
            AND A.healthtitle LIKE CONCAT('%', #{sch_healthtitle},'%')
        </if>
        <if test='sch_healthcontent != null and sch_healthcontent != ""'>
            AND A.healthcontent LIKE CONCAT('%', #{sch_healthcontent},'%')
        </if>
        <if test='searchvalue != null and searchvalue != ""'>
            AND (A.healthcontent LIKE CONCAT('%', #{searchvalue},'%') OR A.healthtitle LIKE CONCAT('%', #{searchvalue},'%') )
        </if>

        <if test='sch_usestartdate != null and sch_usestartdate != ""'>
            AND DATE_FORMAT(A.regtime,'%Y%m%d') <![CDATA[>=]]> DATE_FORMAT(#{sch_usestartdate},'%Y%m%d')
        </if>
        <if test='sch_useenddate != null and sch_useenddate != ""'>
            AND DATE_FORMAT(A.regtime,'%Y%m%d') <![CDATA[<=]]> DATE_FORMAT(#{sch_useenddate},'%Y%m%d')
        </if>
        <!--아이디 이름 전화번호 휴대폰번호 직업 전문 소속 경력 제목 내용 등록일자 종료일자-->
        <if test='sch_specialid != null and sch_specialid != ""'><!--아이디-->
            AND A.regid = #{sch_specialid}
        </if>
        <if test='sch_name != null and sch_name != ""'><!--이름-->
            AND B.name LIKE CONCAT('%',#{sch_name},'%')
        </if>
        <if test='sch_telephone != null and sch_telephone != ""'><!--전화번호-->
            AND B.telephonee LIKE CONCAT('%',#{sch_telephone},'%')
        </if>
        <if test='sch_handphone != null and sch_handphone != ""'><!--휴대폰번호-->
            AND B.handphone LIKE CONCAT('%',#{sch_handphone},'%')
        </if>
        <if test='sch_job != null and sch_job != ""'><!--직업-->
            AND B.job LIKE CONCAT('%',#{sch_job},'%')
        </if>
        <if test='sch_specialty != null and sch_specialty != ""'><!--전문-->
            AND B.specialty LIKE CONCAT('%',#{sch_specialty},'%')
        </if>
        <if test='sch_belongto != null and sch_belongto != ""'><!--소속-->
            AND B.belongto = #{sch_belongto}
        </if>
        <if test='sch_career != null and sch_career != ""'><!--경력-->
            AND B.career = #{sch_career}
        </if>

</sql>


<!--번호 제목 아이디 이름 전화번호 휴대폰번호 직업 전문 소속 경력 사진 내용 등록 시간-->
    <select id="list" parameterType="dbmap" resultType="dbmap">
        <include refid="com.hs.web.mapper.paging_start"/>
        SELECT
        A.healthindex,
        A.healthtitle,
        A.regid,
        B.name,
        B.telephone,
        B.handphone,
        B.job,
        B.specialty,
        B.belongto,
        B.career,
        B.picturename,
        A.thumbnailfile,
        A.healthcontent,
        A.searchcount,
        A.heartcount,
        A.thumbnailfile,
        DATE_FORMAT( A.regtime,'%Y.%m.%d %H:%i:%s') "regtime"
        FROM health A
        INNER JOIN special_member B ON A.regid = B.specialid

        <include refid="com.hs.web.mapper.HealthMapper.listConditions"/>
        ORDER BY A.regtime DESC
        <include refid="com.hs.web.mapper.paging_end"/>
    </select>

    <select id="listCnt" parameterType="dbmap" resultType="int">
        <include refid="com.hs.web.mapper.paging_start"/>
        SELECT IFNULL(COUNT(*),0) AS cnt
        FROM health A
        <include refid="com.hs.web.mapper.HealthMapper.listConditions"/>
        <include refid="com.hs.web.mapper.paging_end"/>
    </select>

    <select id="idCheck" parameterType="dbmap" resultType="int">
        SELECT COUNT(*) AS cnt
        FROM health A
        WHERE 1 = 1 AND A.healthindex = #{healthindex}
    </select>

    <select id="getLastIndex" parameterType="dbmap" resultType="dbmap">
        SELECT MAX(healthindex) AS lastIndex
        FROM health A
    </select>

    <select id="getNextIndex" resultType="int">
        SELECT IFNULL((MAX(healthindex) + 1), 1)
        FROM health
    </select>

    <select id="getLastFileIndex" parameterType="dbmap" resultType="dbmap">
        SELECT MAX(sequencenum) AS lastFileIndex
        FROM health_file A
    </select>

    <select id="addressCheck" parameterType="dbmap" resultType="int">
        SELECT COUNT(*) AS cnt
        FROM health A
        WHERE A.name = #{name} AND A.address = #{address}
    </select>

    <select id="idPwDelChk" parameterType="dbmap" resultType="int">
        SELECT COUNT(*) AS cnt
        FROM health A
        WHERE A.healthindex = #{healthindex}
    </select>

    <select id="detail" parameterType="dbmap" resultType="dbmap">
        SELECT
            A.healthindex,
            A.healthtitle,
            A.regid,
            B.name,
            B.telephone,
            B.handphone,
            B.job,
            B.specialty,
            B.belongto,
            B.career,
            B.picturename,
            A.thumbnailfile,
            A.healthcontent,
            A.searchcount,
            A.heartcount,
            A.thumbnailfile,
            DATE_FORMAT(A.regtime, '%Y.%m.%d %H:%i:%s') "regtime"
        FROM health A
            LEFT OUTER JOIN special_member B ON A.regid = B.specialid


        WHERE 1 = 1 AND A.healthindex = #{healthindex}
    </select>

    <select id="detailFile" parameterType="dbmap" resultType="dbmap">
        SELECT
            A.healthindex,
            DATE_FORMAT(A.regtime, '%Y.%m.%d %H:%i') "regtime",
            A.sequencenum,
            A.pictureorder,
            A.filename

        FROM health_file A


        WHERE 1 = 1 AND A.healthindex = #{healthindex}
        ORDER BY A.pictureorder ASC
    </select>


    <insert id="insert" parameterType="dbmap">
        INSERT INTO health (
        healthindex,
        healthtitle,
        regid,
        healthcontent,
        searchcount,
        heartcount,
        thumbnailfile,
        regtime
        )
        VALUES (
        #{healthindex},
        #{healthtitle},
        #{regid},
        #{healthcontent},
        1,
        1,
        #{thumbnailfile},
        DATE_FORMAT(NOW()+0,'%Y%m%d%H%i%s')
        )
        <selectKey resultType="int" keyProperty="healthindex" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertFile" parameterType="dbmap">
        INSERT INTO health_file (
        healthindex,
        sequencenum,
        pictureorder,
        filename,
        regtime
        )
        VALUES (
        #{healthindex},
        #{sequencenum},
        #{pictureorder},
        #{filename},
        DATE_FORMAT(NOW()+0,'%Y%m%d%H%i%s')
        )
        <selectKey resultType="int" keyProperty="sequencenum" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>


    <update id="update" parameterType="dbmap">
        UPDATE health
        <set>
            <if test='healthindex != null and healthindex != ""'>healthindex= #{healthindex},</if>
            <if test='healthtitle != null and healthtitle != ""'>healthtitle= #{healthtitle},</if>
            <if test='regid != null and regid != ""'>regid= #{regid},</if>
            <if test='healthcontent != null and healthcontent != ""'>healthcontent= #{healthcontent},</if>
            <if test='searchcount != null and searchcount != ""'>searchcount= #{searchcount},</if>
            <if test='heartcount != null and heartcount != ""'>heartcount= #{heartcount},</if>
            <if test='thumbnailfile != null and thumbnailfile != ""'>thumbnailfile= #{thumbnailfile},</if>
            <if test='regtime != null and regtime != ""'>regtime= DATE_FORMAT(NOW()+0,'%Y%m%d%H%i%s')</if>
        </set>
        WHERE 1=1
        AND healthindex = #{healthindex}
    </update>


    <update id="updateHitcount" parameterType="dbmap">
        UPDATE health
        SET searchcount = searchcount + 1
        WHERE 1 = 1
              AND healthindex = #{healthindex}
    </update>


    <delete id="delete" parameterType="dbmap">
        DELETE FROM health
        WHERE 1 = 1
              AND healthindex = #{healthindex}
    </delete>


    <delete id="deleteFile" parameterType="dbmap">
        DELETE FROM health_file
        WHERE 1 = 1
              AND healthindex = #{healthindex} AND sequencenum = #{sequencenum}
    </delete>

    <delete id="deleteFiles" parameterType="dbmap">
        DELETE FROM health_file
        WHERE 1 = 1
              AND healthindex = #{healthindex}
    </delete>

    <delete id="deleteHealthFile" parameterType="dbmap">
        DELETE FROM health_file
        WHERE 1 = 1
              AND healthindex = #{healthindex} AND sequencenum = #{sequencenum}
    </delete>


    <select id="currMemberId" parameterType="dbmap" resultType="String">
        SELECT IFNULL(MAX(healthindex), 0)
        FROM health
        WHERE SUBSTRING(healthindex, 1, 1) = 'B' AND LENGTH(healthindex) = 10
    </select>

    <select id="getNextFileSeq" parameterType="dbmap" resultType="int">

        select ifnull(max(sequencenum), 0)+1
        from health_file
        where healthindex = #{healthindex}
    </select>

    <select id="getOrderMinMax" parameterType="dbmap" resultType="dbmap">
        SELECT MIN(pictureorder) "ordermin", MAX(pictureorder) "ordermax" from health_file WHERE healthindex = #{healthindex}
    </select>


    <update id="upOrder" parameterType="dbmap">
        UPDATE health_file
        SET pictureorder = pictureorder-1
        WHERE 1=1
        AND healthindex = #{healthindex} AND sequencenum = #{sequencenum}
    </update>

    <update id="upOrderOther" parameterType="dbmap">
        UPDATE health_file
        SET pictureorder = pictureorder+1
        WHERE 1=1
        AND pictureorder = #{pictureorder}-1 AND healthindex = #{healthindex}
    </update>

    <update id="downOrder" parameterType="dbmap">
        UPDATE health_file
        SET pictureorder = pictureorder + 1
        WHERE 1=1
        AND healthindex = #{healthindex}  AND sequencenum = #{sequencenum}
    </update>

    <update id="downOrderOther" parameterType="dbmap">
        UPDATE health_file
        SET pictureorder = pictureorder - 1
        WHERE 1=1
        AND pictureorder = #{pictureorder}+1 AND healthindex = #{healthindex}
    </update>

    <!--//todo 1: saveContentsBtn    -->
    <update id="updateContents" parameterType="dbmap">
        UPDATE health
        <set>

            <if test='healthtitle != null and healthtitle != ""'>healthtitle= #{healthtitle},</if>
            <if test='healthcontent != null and healthcontent != ""'>healthcontent= #{healthcontent},</if>
        </set>
        WHERE 1=1
        AND healthindex = #{healthindex}
    </update>

    <!--//todo 2: saveThumBtn-->
    <update id="updateThum" parameterType="dbmap">
        UPDATE health
        <set>
            <if test='thumbnailfile != null and thumbnailfile != ""'>thumbnailfile= #{thumbnailfile},</if>
        </set>
        WHERE 1=1
        AND healthindex = #{healthindex}
    </update>

    <!--//todo 3: saveFileBtn-->
    <update id="updateFile" parameterType="dbmap">
        UPDATE health_file
        <set>
            <if test='healthindex != null and healthindex != ""'>healthindex = #{healthindex},</if>
            <if test='sequencenum != null and sequencenum != ""'>sequencenum = #{sequencenum},</if>
            <if test='filename != null and filename != ""'>filename = #{filename},</if>
            <if test='pictureorder != null and pictureorder != ""'>pictureorder = #{pictureorder},</if>
            <if test='regtime != null and regtime != ""'>regtime = #{regtime},</if>
        </set>
        WHERE 1=1
        AND healthindex = #{healthindex}
    </update>


</mapper>