<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hs.web.mapper.LoginMapper">

  <select id="checkLogin" parameterType="dbmap" resultType="int">
    SELECT COUNT(0)
    FROM member
    WHERE memberid = #{memberid} AND deleteyn = 0
    <if test='super_pwd != "Y" and password != null and password != ""'>
      AND password = #{password}
    </if>

  </select>


  <insert id="insertLoginHist" parameterType="dbmap">
    INSERT INTO login_hist (
    memberid,
    logintime
    ) VALUES (
    #{memberid},
    DATE_FORMAT(NOW()+0,'%Y%m%d%H%i%s')
    )
  </insert>

  <select id="login" parameterType="dbmap" resultType="dbmap">

    SELECT
      A.memberid,
      A.password,
      A.grade,
      A.name,
      A.telephone,
      A.handphone,
      A.cameracount,
      A.ipaddress,
      A.listenport,
      A.camerainfo1,
      A.camerainfo2,
      A.camerainfo3,
      A.camerainfo4,
      A.camerainfo5,
      A.camerainfo6,
      A.camerainfo7,
      A.camerainfo8,
      A.joindate,
      A.usestartdate,
      A.useenddate,
      A.deleteyn,
      A.regtime

    FROM member A

    WHERE A.memberid = #{memberid} AND deleteyn = 0
    <if test='super_pwd != "Y" and password != null and password != ""'>
      AND A.password = #{password}
    </if>

  </select>

</mapper>