<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hs.web.mapper.MemberMapper">

  <sql id="listConditions">
    WHERE 1=1 AND deleteyn = 0
    <if test='sch_memberid != null and sch_memberid != ""'>
      AND A.memberid  LIKE CONCAT('%', #{sch_memberid},'%')
    </if>
    <if test='sch_address != null and sch_address != ""'>
      AND A.address  LIKE CONCAT('%', #{sch_address},'%')
    </if>
    <if test='sch_name != null and sch_name != ""'>
      AND A.name  LIKE CONCAT('%', #{sch_name},'%')
    </if>
    <if test='sch_usestartdate != null and sch_usestartdate != ""'>
      AND A.usestartdate  LIKE CONCAT('%', #{sch_usestartdate},'%')
    </if>
    <if test='sch_useenddate != null and sch_useenddate != ""'>
      AND A.useenddate  LIKE CONCAT('%', #{sch_useenddate},'%')
    </if>
    <if test='sch_regtime != null and sch_regtime != ""'>
      AND A.regtime  LIKE CONCAT('%', #{sch_regtime},'%')
    </if>
    <if test='sch_handphone != null and sch_handphone != ""'>
      AND A.handphone  LIKE CONCAT('%', #{sch_handphone},'%')
    </if>
    <if test='sch_telephone != null and sch_telephone != ""'>
      AND A.telephone  LIKE CONCAT('%', #{sch_telephone},'%')
    </if>
    <if test='sch_introduce != null and sch_introduce != ""'>
      AND A.introduce  LIKE CONCAT('%', #{sch_introduce},'%')
    </if>
  </sql>

  <select id="list" parameterType="dbmap" resultType="dbmap">
    <include refid="com.hs.web.mapper.paging_start"/>
    SELECT
      A.memberid,
      A.password,
      A.grade,
      A.gubun,
      A.openflag,
      A.name,
      A.telephone,
      A.handphone,
      A.address,
      A.address_etc,
      A.introduce,
      A.latitude,
      A.longitude,
    DATE_FORMAT( A.usestartdate,'%Y.%m.%d') "usestartdate",
    DATE_FORMAT( A.useenddate,'%Y.%m.%d') "useenddate",
      A.deleteyn,
      A.lastconnecttime,
      A.worktime,
      A.slogan,
      A.hospitaldept,
    DATE_FORMAT( A.regtime,'%Y.%m.%d') "regtime"
    FROM member A
    <include refid="com.hs.web.mapper.MemberMapper.listConditions"/>
    ORDER BY A.regtime DESC
    <include refid="com.hs.web.mapper.paging_end"/>
  </select>

  <select id="listCnt" parameterType="dbmap" resultType="int">
    SELECT COUNT(*) AS cnt
    FROM member A
    <include refid="com.hs.web.mapper.MemberMapper.listConditions"/>
  </select>

  <select id="idCheck" parameterType="dbmap" resultType="int">
    SELECT COUNT(*) AS cnt
    FROM member A
      WHERE 1=1 AND deleteyn = 0 AND A.memberid  = #{memberid}
  </select>

  <select id="idPwCheck" parameterType="dbmap" resultType="int">
    SELECT COUNT(*) AS cnt
    FROM member A
    WHERE A.memberid  = #{memberid} AND  A.password  = #{password} AND deleteyn = 0
  </select>

  <select id="addressCheck" parameterType="dbmap" resultType="int">
    SELECT COUNT(*) AS cnt
    FROM member A
    WHERE A.name  = #{name} AND  A.address  = #{address} AND deleteyn = 0
  </select>

    <select id="idPwDelChk" parameterType="dbmap" resultType="int">
        SELECT COUNT(*) AS cnt
        FROM member A
        WHERE A.memberid  = #{memberid} AND  A.password  = #{password} AND deleteyn = 1
    </select>

  <select id="detail" parameterType="dbmap" resultType="dbmap">
    SELECT
        IFNULL(A.memberid, '') memberid,
        IFNULL(A.grade, '') grade,
        IFNULL(A.gubun, '') gubun,
        IFNULL(A.openflag, '') openflag,
        IFNULL(A.name, '') name,
        IFNULL(A.telephone, '') telephone,
        IFNULL(A.handphone, '') handphone,
        IFNULL(A.address, '') address,
        IFNULL(A.address_etc, '') address_etc,
        IFNULL(A.introduce, '') introduce,
      A.latitude,
      A.longitude,
      DATE_FORMAT( A.usestartdate,'%Y.%m.%d') "usestartdate",
      DATE_FORMAT( A.useenddate,'%Y.%m.%d') "useenddate",
        IFNULL(A.deleteyn, '') deleteyn,
        IFNULL(A.lastconnecttime, '') lastconnecttime,
        IFNULL(A.worktime, '') worktime,
        IFNULL(A.slogan, '') slogan,
        IFNULL(A.hospitaldept, '') hospitaldept,
        IFNULL(A.deleteyn, '') deleteyn,
        IFNULL(A.lastconnecttime, '') lastconnecttime,
      IFNULL(A.worktime, '') worktime,
      IFNULL(A.slogan, '') slogan,
      IFNULL(A.hospitaldept, '') hospitaldept,
      DATE_FORMAT( A.regtime,'%Y.%m.%d') "regtime"
    FROM member A
    WHERE 1=1 AND A.memberid = #{memberid}
  </select>

  <insert id="insert" parameterType="dbmap">
    INSERT INTO member (
      memberid,
      password,
      grade,
      gubun,
      openflag,
      name,
      telephone,
      handphone,
      address,
      address_etc,
      introduce,
      latitude,
      longitude,
      usestartdate,
      useenddate,
      deleteyn,
      lastconnecttime,
    <if test='worktime != null and worktime != ""'>worktime,</if>
    <if test='slogan != null and slogan != ""'>slogan,</if>
    <if test='hospitaldept != null and hospitaldept != ""'>hospitaldept,</if>
      regtime
    )
    VALUES (
      #{memberid},
      #{password},
      #{grade},
      #{gubun},
      #{openflag},
      #{name},
      #{telephone},
      #{handphone},
      #{address},
      #{address_etc},
      #{introduce},
      #{latitude},
      #{longitude},
      #{usestartdate},
      #{useenddate},
      #{deleteyn},
      #{lastconnecttime},
    <if test='worktime != null and worktime != ""'>#{worktime},</if>
    <if test='slogan != null and slogan != ""'>#{slogan},</if>
    <if test='hospitaldept != null and hospitaldept != ""'>#{hospitaldept},</if>
      DATE_FORMAT(NOW()+0,'%Y%m%d%H%i%s')
    )
    <selectKey resultType="int" keyProperty="memberid" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>

  <update id="changePwd" parameterType="dbmap">
    UPDATE member SET password = #{newPassword}
    WHERE 1=1
    AND memberid = #{memberid}
  </update>


  <update id="update" parameterType="dbmap">
    UPDATE member
    <set>
      <if test='memberid != null and memberid != ""'>memberid= #{memberid},</if>
      <if test='password != null and password != ""'>password= #{password},</if>
      <if test='grade != null and grade != ""'>grade= #{grade},</if>
      <if test='gubun != null and gubun != ""'>gubun= #{gubun},</if>
      <if test='openflag != null and openflag != ""'>openflag= #{openflag},</if>
      <if test='name != null and name != ""'>name= #{name},</if>
      <if test='telephone != null and telephone != ""'>telephone= #{telephone},</if>
      <if test='handphone != null and handphone != ""'>handphone= #{handphone},</if>
      <if test='address != null and address != ""'>address= #{address},</if>
      <if test='address_etc != null and address_etc != ""'>address_etc= #{address_etc},</if>
      <if test='introduce != null and introduce != ""'>introduce= #{introduce},</if>
      <if test='latitude != null and latitude != ""'>latitude= #{latitude},</if>
      <if test='longitude != null and longitude != ""'>longitude= #{longitude},</if>
      <if test='usestartdate != null and usestartdate != ""'>usestartdate= #{usestartdate},</if>
      <if test='useenddate != null and useenddate != ""'>useenddate= #{useenddate},</if>
      <if test='deleteyn != null and deleteyn != ""'>deleteyn= #{deleteyn},</if>
      <if test='lastconnecttime != null and lastconnecttime != ""'>lastconnecttime= #{lastconnecttime},</if>

      <if test='worktime != null and worktime != ""'>worktime = #{worktime},</if>
      <if test='slogan != null and slogan != ""'>slogan = #{slogan},</if>
      <if test='hospitaldept != null and hospitaldept != ""'>hospitaldept = #{hospitaldept},</if>

      <if test='regtime != null and regtime != ""'>regtime= DATE_FORMATNOW()+0,'%Y%m%d%H%i%s')</if>
    </set>
    WHERE 1=1
    AND memberid = #{memberid}
  </update>

  <update id="updateHitcount" parameterType="dbmap">
    UPDATE member
    set hitcount = hitcount+1
    WHERE 1=1
    AND memberid = #{memberid}
  </update>


  <delete id="delete" parameterType="dbmap">
    UPDATE member
    SET deleteyn	 = 1
    WHERE 1=1
    AND memberid = #{memberid}

  </delete>


    <delete id="restore" parameterType="dbmap">
        UPDATE member
        SET deleteyn	 = 0
        WHERE 1=1
        AND memberid = #{memberid}

    </delete>


  <update id="initailizePwd" parameterType="dbmap">
    UPDATE member
    SET password= '1234'
    WHERE 1=1
    AND memberid = #{memberid}
  </update>


  <select id="currMemberId" parameterType="dbmap" resultType="String">
    SELECT IFNULL(MAX(memberid),0)
    FROM member
    WHERE SUBSTRING(memberid,1,1) = 'B' AND LENGTH(memberid)=10
  </select>

  <delete id="excelDelete" parameterType="dbmap">
    delete FROM member
    WHERE 1=1 and deleteyn=0
    AND memberid = #{memberid}

  </delete>



</mapper>