<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hs.web.mapper.PCMapper">

  <sql id="listConditions">
    WHERE 1=1
    <if test='sch_codegroup != null and sch_codegroup != ""'>
      AND A.codegroup  LIKE CONCAT('%', #{sch_codegroup},'%')
    </if>
    <if test='sch_uppercode != null and sch_uppercode != ""'>
      AND A.uppercode  LIKE CONCAT('%', #{sch_uppercode},'%')
    </if>
    <if test='sch_code != null and sch_code != ""'>
      AND A.code  LIKE CONCAT('%', #{sch_code},'%')
    </if>
    <if test='sch_codename != null and sch_codename != ""'>
      AND A.codename  LIKE CONCAT('%', #{sch_codename},'%')
    </if>
  </sql>

  <select id="list" parameterType="dbmap" resultType="dbmap">
    <include refid="com.hs.web.mapper.paging_start"/>
    SELECT
      A.index,
      A.codegroup,
      A.code,
      A.codename,
      A.uppercode,
      A.ord
    FROM address A
    <include refid="com.hs.web.mapper.PCMapper.listConditions"/>
    ORDER BY A.ord
    <include refid="com.hs.web.mapper.paging_end"/>
  </select>

  <select id="codeList" parameterType="dbmap" resultType="dbmap">

    SELECT
      A.index,
      A.codegroup,
      A.code,
      A.codename,
      A.uppercode,
      A.ord
    FROM address A
    <include refid="com.hs.web.mapper.PCMapper.listConditions"/>
    ORDER BY A.ord

  </select>

  <select id="listCnt" parameterType="dbmap" resultType="int">
    SELECT COUNT(*) AS cnt
    FROM address A
    <include refid="com.hs.web.mapper.PCMapper.listConditions"/>
  </select>

  <select id="idCheck" parameterType="dbmap" resultType="int">
    SELECT COUNT(*) AS cnt
    FROM address A
      WHERE 1=1 AND deleteyn = 0 AND A.memberid  = #{memberid}
  </select>

  <select id="idPwCheck" parameterType="dbmap" resultType="int">
    SELECT COUNT(*) AS cnt
    FROM address A
    WHERE A.memberid  = #{memberid} AND  A.password  = #{password} AND deleteyn = 0
  </select>

    <select id="idPwDelChk" parameterType="dbmap" resultType="int">
        SELECT COUNT(*) AS cnt
        FROM address A
        WHERE A.memberid  = #{memberid} AND  A.password  = #{password} AND deleteyn = 1
    </select>

  <select id="detail" parameterType="dbmap" resultType="dbmap">
    SELECT
        A.memberid,
        A.password,
        A.grade,
        A.gubun,
        A.openflag,
        A.name,
        A.telephone,
        A.handphone,
        A.address,
        A.address_etc,
        A.introduce,
        A.latitude,
        A.longitude,
      DATE_FORMAT( A.usestartdate,'%Y.%m.%d') "usestartdate",
      DATE_FORMAT( A.useenddate,'%Y.%m.%d') "useenddate",
        A.deleteyn,
        A.lastconnecttime,
      DATE_FORMAT( A.regtime,'%Y.%m.%d') "regtime"
    FROM address A
    WHERE 1=1 AND A.memberid = #{memberid}
  </select>

  <insert id="insert" parameterType="dbmap">
    INSERT INTO member (
      memberid,
      password,
      grade,
      gubun,
      openflag,
      name,
      telephone,
      handphone,
      address,
      address_etc,
      introduce,
      latitude,
      longitude,
      usestartdate,
      useenddate,
      deleteyn,
      lastconnecttime,
      regtime
    )
    VALUES (
      #{memberid},
      #{password},
      #{grade},
      #{gubun},
      #{openflag},
      #{name},
      #{telephone},
      #{handphone},
      #{address},
      #{address_etc},
      #{introduce},
      #{latitude},
      #{longitude},
      #{usestartdate},
      #{useenddate},
      #{deleteyn},
      #{lastconnecttime},
      DATE_FORMAT(NOW()+0,'%Y%m%d%H%i%s')
    )
    <selectKey resultType="int" keyProperty="memberid" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>

  <update id="changePwd" parameterType="dbmap">
    UPDATE member SET password = #{newPassword}
    WHERE 1=1
    AND memberid = #{memberid}
  </update>


  <update id="update" parameterType="dbmap">
    UPDATE member
    <set>
      <if test='memberid != null and memberid != ""'>memberid= #{memberid},</if>
      <if test='password != null and password != ""'>password= #{password},</if>
      <if test='grade != null and grade != ""'>grade= #{grade},</if>
      <if test='gubun != null and gubun != ""'>gubun= #{gubun},</if>
      <if test='openflag != null and openflag != ""'>openflag= #{openflag},</if>
      <if test='name != null and name != ""'>name= #{name},</if>
      <if test='telephone != null and telephone != ""'>telephone= #{telephone},</if>
      <if test='handphone != null and handphone != ""'>handphone= #{handphone},</if>
      <if test='address != null and address != ""'>address= #{address},</if>
      <if test='address_etc != null and address_etc != ""'>address_etc= #{address_etc},</if>
      <if test='introduce != null and introduce != ""'>introduce= #{introduce},</if>
      <if test='latitude != null and latitude != ""'>latitude= #{latitude},</if>
      <if test='longitude != null and longitude != ""'>longitude= #{longitude},</if>
      <if test='usestartdate != null and usestartdate != ""'>usestartdate= #{usestartdate},</if>
      <if test='useenddate != null and useenddate != ""'>useenddate= #{useenddate},</if>
      <if test='deleteyn != null and deleteyn != ""'>deleteyn= #{deleteyn},</if>
      <if test='lastconnecttime != null and lastconnecttime != ""'>lastconnecttime= #{lastconnecttime},</if>
      <if test='regtime != null and regtime != ""'>regtime= DATE_FORMATNOW()+0,'%Y%m%d%H%i%s')</if>
    </set>
    WHERE 1=1
    AND memberid = #{memberid}
  </update>

  <update id="updateHitcount" parameterType="dbmap">
    UPDATE member
    set hitcount = hitcount+1
    WHERE 1=1
    AND memberid = #{memberid}
  </update>


  <delete id="delete" parameterType="dbmap">
    UPDATE member
    SET deleteyn	 = 1
    WHERE 1=1
    AND memberid = #{memberid}

  </delete>


    <delete id="restore" parameterType="dbmap">
        UPDATE member
        SET deleteyn	 = 0
        WHERE 1=1
        AND memberid = #{memberid}

    </delete>


  <update id="initailizePwd" parameterType="dbmap">
    UPDATE member
    SET password= '1234'
    WHERE 1=1
    AND memberid = #{memberid}
  </update>




</mapper>