<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hs.web.mapper.RemoteMapper">

  <sql id="listConditions">

    WHERE 1=1 AND memberid = #{login_uid} 


  </sql>

    <!--내부무선센서정보-->
    <select id="getInnersensorstate" parameterType="dbmap" resultType="dbmap">
        SELECT memberid,
                temperature1,
                humidity1,
                carbondioxide1,
                temperature2,
                humidity2,
                carbondioxide2,
                temperature3,
                humidity3,
                carbondioxide3,
                temperature4,
                humidity4,
                carbondioxide4,
                temperature5,
                humidity5,
                carbondioxide5,
                temperature6,
                humidity6,
                carbondioxide6,
                temperature7,
                humidity7,
                carbondioxide7,
                temperature8,
                humidity8,
                carbondioxide8,
                DATE_FORMAT( A.regtime,'%Y.%m.%d') "regtime"
        FROM innersensorstate A
        <include refid="com.hs.web.mapper.RemoteMapper.listConditions"/>
        ORDER BY A.regtime DESC LIMIT 0,1
    </select>
    <!--//내부무선센서정보-->

    <!--내부유선센서정보-->
    <select id="getInnercablesensorstate" parameterType="dbmap" resultType="dbmap">
        SELECT memberid,
                temperature,
                DATE_FORMAT( A.regtime,'%Y.%m.%d') "regtime"
        FROM innercablesensorstate A
        <include refid="com.hs.web.mapper.RemoteMapper.listConditions"/>
        ORDER BY A.regtime DESC LIMIT 0,1
    </select>
    <!--//내부유선센서정보-->

    <!--외부유무선센서정보-->
    <select id="getOutersensorstate" parameterType="dbmap" resultType="dbmap">
        SELECT memberid,
        rainstate AS "rainstateCode",
        CASE rainstate
        WHEN 0 THEN '미사용'
        WHEN 1 THEN '정상'
        WHEN 2 THEN '비정상'
        ELSE '이상' END AS 'rainstate',
                rainstate AS "rainstateCode",
        CASE winddirection
        WHEN 1 THEN '북북동'
        WHEN 2 THEN '복동'
        WHEN 3 THEN '동북동'
        WHEN 4 THEN '동'
        WHEN 5 THEN '동남동'
        WHEN 6 THEN '남동'
        WHEN 7 THEN '남남동'
        WHEN 8 THEN '남'
        WHEN 9 THEN '남남서'
        WHEN 10 THEN '남서'
        WHEN 11 THEN '서남서'
        WHEN 12 THEN '서'
        WHEN 13 THEN '서북서'
        WHEN 14 THEN '북서'
        WHEN 15 THEN '북북서'
        WHEN 16 THEN '북'
        ELSE '이상' END AS 'winddirection',
                windspeed,
                wm2,
                node_temperature,
                node_humidity,
        node_rainstate AS "node_rainstateCode",
        CASE node_rainstate
        WHEN 0 THEN '미사용'
        WHEN 1 THEN '정상'
        WHEN 2 THEN '비정상'
        ELSE '이상' END AS 'node_rainstate',
        node_rainstate AS "node_rainstateCode",
                node_winddirection AS "node_winddirectionCode",
        CASE node_winddirection
        WHEN 1 THEN '북북동'
        WHEN 2 THEN '복동'
        WHEN 3 THEN '동북동'
        WHEN 4 THEN '동'
        WHEN 5 THEN '동남동'
        WHEN 6 THEN '남동'
        WHEN 7 THEN '남남동'
        WHEN 8 THEN '남'
        WHEN 9 THEN '남남서'
        WHEN 10 THEN '남서'
        WHEN 11 THEN '서남서'
        WHEN 12 THEN '서'
        WHEN 13 THEN '서북서'
        WHEN 14 THEN '북서'
        WHEN 15 THEN '북북서'
        WHEN 16 THEN '북'
        ELSE '이상' END AS 'node_winddirection',
                node_windspeed,
                node_wm2,
                DATE_FORMAT( A.regtime,'%Y.%m.%d') "regtime"
        FROM outersensorstate A
        <include refid="com.hs.web.mapper.RemoteMapper.listConditions"/>
        ORDER BY A.regtime DESC LIMIT 0,1
    </select>
    <!--//외부유무선센서정보-->

    <!--초기설정-->
    <select id="getInitsetting" parameterType="dbmap" resultType="dbmap">
        SELECT memberid,
                laborchannel1,
                laborchannel2,
                laborchannel3,
                laborchannel4,
                laborchannel5,
                laborchannel6,
                laborchannel7,
                laborchannel8,
                laborchannel9,
                laborchannel10,
                onoffchannel1,
                onoffchannel2,
                onoffchannel3,
                onoffchannel4,
                onoffchannel5,
                onoffchannel6,
                onoffchannel7,
                onoffchannel8,
                onoffchannel9,
                onoffchannel10,
                hightemperature,
                lowtemperature,
                sensorcount,
                DATE_FORMAT( A.regtime,'%Y.%m.%d') "regtime"
        FROM initsetting A
        <include refid="com.hs.web.mapper.RemoteMapper.listConditions"/>
        ORDER BY A.regtime DESC LIMIT 0,1
    </select>
    <!--//초기설정-->

    <!--양액정보-->
    <select id="getNutrientstate" parameterType="dbmap" resultType="dbmap">
        SELECT memberid,
                ec,
                ph,
                wm2,
                supplycount,
                workstate,
                workmethod,
                DATE_FORMAT( A.regtime,'%Y.%m.%d') "regtime"
        FROM nutrientstate A
        <include refid="com.hs.web.mapper.RemoteMapper.listConditions"/>
        ORDER BY A.regtime DESC LIMIT 0,1
    </select>
    <!--//양액정보-->

    <!--열회수형환풍기상태정보-->
    <select id="getHeatrecoverystate" parameterType="dbmap" resultType="dbmap">
        SELECT memberid,
                temperature,
                humidity,
                discharge,
                state,
                DATE_FORMAT( A.regtime,'%Y.%m.%d') "regtime"
        FROM heatrecoverystate A
        <include refid="com.hs.web.mapper.RemoteMapper.listConditions"/>
        ORDER BY A.regtime DESC LIMIT 0,1
    </select>
    <!--//열회수형환풍기상태정보-->


    <!--열회수형환풍기상태정보-->
    <select id="getAirfanstate" parameterType="dbmap" resultType="dbmap">
        SELECT memberid,
        angle AS 'angleCode',temperature,
        CASE angle
        WHEN 1 THEN '상향'
        WHEN 2 THEN '중간'
        WHEN 3 THEN '하향'
        WHEN 4 THEN '회전전'
        ELSE '이상' END AS 'angle',
                DATE_FORMAT( A.regtime,'%Y.%m.%d') "regtime"
        FROM airfanstate A
        <include refid="com.hs.web.mapper.RemoteMapper.listConditions"/>
        ORDER BY A.regtime DESC LIMIT 0,1
    </select>
    <!--//열회수형환풍기상태정보-->

    <select id="getMemberIp" parameterType="dbmap" resultType="dbmap">
        SELECT memberid,
                ipaddress,
                listenport
        FROM member A
        <include refid="com.hs.web.mapper.RemoteMapper.listConditions"/>
    </select>

    <!--공기유동팬-->
    <insert id="setAirfanstate" parameterType="dbmap">
        INSERT INTO airfanstate ( memberid, angle, temperature, state, regtime)
        VALUES ( #{login_uid}, #{angle}, #{temperature},0, DATE_FORMAT(NOW()+0,'%Y%m%d%H%i%s'))

    </insert>

    <!--열회수형환풍기-->
    <insert id="setHeatrecoverystate" parameterType="dbmap">
        INSERT INTO heatrecoverystate ( memberid, temperature, humidity,discharge, state, regtime)
        VALUES ( #{login_uid}, #{temperature}, #{humidity}, #{discharge}, 0, DATE_FORMAT(NOW()+0,'%Y%m%d%H%i%s'))

    </insert>


</mapper>