<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hs.web.mapper.SpecialMembershipMapper">
  <sql id="listConditions">

    WHERE 1=1 AND deleteyn = 0
    <if test='sch_specialid != null and sch_specialid != ""'>
      AND A.specialid  LIKE CONCAT('%', #{sch_specialid},'%')
    </if>
    <if test='sch_address != null and sch_address != ""'>
      AND A.address  LIKE CONCAT('%', #{sch_address},'%')
    </if>
    <if test='sch_name != null and sch_name != ""'>
      AND A.name  LIKE CONCAT('%', #{sch_name},'%')
    </if>
    <if test='sch_usestartdate != null and sch_usestartdate != ""'>
      AND  DATE_FORMAT(A.usestartdate,'%Y%m%d') <![CDATA[>=]]> DATE_FORMAT(#{sch_usestartdate},'%Y%m%d')
      AND  DATE_FORMAT(A.useenddate,'%Y%m%d') <![CDATA[>=]]> DATE_FORMAT(#{sch_usestartdate},'%Y%m%d')
    </if>
    <if test='sch_useenddate != null and sch_useenddate != ""'>

      AND  DATE_FORMAT(A.useenddate,'%Y%m%d') <![CDATA[>=]]> DATE_FORMAT(#{sch_useenddate},'%Y%m%d')
      AND  DATE_FORMAT(A.usestartdate,'%Y%m%d') <![CDATA[<=]]> DATE_FORMAT(#{sch_useenddate},'%Y%m%d')
    </if>
    <if test='sch_regtime != null and sch_regtime != ""'>
      AND A.regtime  LIKE CONCAT('%', #{sch_regtime},'%')
    </if>
    <if test='sch_handphone != null and sch_handphone != ""'>
      AND A.handphone  LIKE CONCAT('%', #{sch_handphone},'%')
    </if>
    <if test='sch_telephone != null and sch_telephone != ""'>
      AND A.telephone  LIKE CONCAT('%', #{sch_telephone},'%')
    </if>
    <if test='sch_introduce != null and sch_introduce != ""'>
      AND A.introduce  LIKE CONCAT('%', #{sch_introduce},'%')
    </if>

  </sql>

  <select id="list" parameterType="dbmap" resultType="dbmap">
    <include refid="com.hs.web.mapper.paging_start"/>
    SELECT
            A.specialid,
            A.password,
            A.name,
            A.telephone,
            A.handphone,
            A.picturename,
            A.job,
            A.specialty,
            A.belongto,
            A.career,
            DATE_FORMAT( A.usestartdate,'%Y.%m.%d') "usestartdate",
            DATE_FORMAT( A.useenddate,'%Y.%m.%d') "useenddate",
            A.deleteyn,
            DATE_FORMAT( A.regtime,'%Y.%m.%d %H:%i') "regtime"

    FROM special_member A
    <include refid="com.hs.web.mapper.SpecialMembershipMapper.listConditions"/>
    ORDER BY A.regtime DESC
    <include refid="com.hs.web.mapper.paging_end"/>
  </select>

  <select id="listCnt" parameterType="dbmap" resultType="int">
    SELECT COUNT(*) AS cnt
    FROM special_member A
    <include refid="com.hs.web.mapper.SpecialMembershipMapper.listConditions"/>
  </select>

  <select id="idCheck" parameterType="dbmap" resultType="int">
    SELECT COUNT(*) AS cnt
    FROM special_member A
      WHERE 1=1 AND deleteyn = 0 AND A.specialid  = #{specialid}
  </select>

  <select id="idPwCheck" parameterType="dbmap" resultType="int">
    SELECT COUNT(*) AS cnt
    FROM special_member A
    WHERE A.specialid  = #{specialid} AND  A.password  = #{password} AND deleteyn = 0
  </select>

  <select id="addressCheck" parameterType="dbmap" resultType="int">
    SELECT COUNT(*) AS cnt
    FROM special_member A
    WHERE A.name  = #{name} AND  A.address  = #{address} AND deleteyn = 0
  </select>

  <select id="idPwDelChk" parameterType="dbmap" resultType="int">
      SELECT COUNT(*) AS cnt
      FROM special_member A
      WHERE A.specialid  = #{specialid} AND  A.password  = #{password} AND deleteyn = 1
  </select>

  <select id="detail" parameterType="dbmap" resultType="dbmap">
    SELECT
      A.specialid,
      A.password,
      A.name,
      A.telephone,
      A.handphone,
      A.picturename,
      A.job,
      A.specialty,
      A.belongto,
      A.career,
      DATE_FORMAT( A.usestartdate,'%Y.%m.%d') "usestartdate",
      DATE_FORMAT( A.useenddate,'%Y.%m.%d') "useenddate",
      A.deleteyn,
      DATE_FORMAT( A.regtime,'%Y.%m.%d %H:%i') "regtime"
    FROM special_member A
    WHERE 1=1 AND A.specialid = #{specialid}
  </select>

  <insert id="insert" parameterType="dbmap">
    INSERT INTO special_member (
      specialid,
      password,
      name,
      telephone,
      handphone,
      picturename,
      job,
      specialty,
      belongto,
      career,
      usestartdate,
      useenddate,
      deleteyn,
      regtime
    )
    VALUES (
      #{specialid},
      #{password},
      #{name},
      #{telephone},
      #{handphone},
      #{picturename},
      #{job},
      #{specialty},
      #{belongto},
      #{career},
      #{usestartdate},
      #{useenddate},
      #{deleteyn},
      DATE_FORMAT(NOW()+0,'%Y%m%d%H%i%s')
    )
    <selectKey resultType="int" keyProperty="specialid" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>

  <update id="changePwd" parameterType="dbmap">
    UPDATE special_member SET password = #{newPassword}
    WHERE 1=1
    AND specialid = #{specialid}
  </update>


  <update id="update" parameterType="dbmap">
    UPDATE special_member
    <set>
      <if test='specialid != null and specialid != ""'>specialid= #{specialid},</if>
      <if test='password != null and password != ""'>password= #{password},</if>
      <if test='name != null and name != ""'>name= #{name},</if>
      <if test='telephone != null and telephone != ""'>telephone= #{telephone},</if>
      <if test='handphone != null and handphone != ""'>handphone= #{handphone},</if>
      <if test='picturename != null and picturename != ""'>picturename= #{picturename},</if>
      <if test='job != null and job != ""'>job= #{job},</if>
      <if test='specialty != null and specialty != ""'>specialty= #{specialty},</if>
      <if test='belongto != null and belongto != ""'>belongto= #{belongto},</if>
      <if test='career != null and career != ""'>career= #{career},</if>
      <if test='usestartdate != null and usestartdate != ""'>usestartdate= #{usestartdate},</if>
      <if test='useenddate != null and useenddate != ""'>useenddate= #{useenddate},</if>
      <if test='deleteyn != null and deleteyn != ""'>deleteyn= #{deleteyn},</if>
      <if test='regtime != null and regtime != ""'>regtime= DATE_FORMAT(NOW()+0,'%Y%m%d%H%i%s')</if>
    </set>
    WHERE 1=1
    AND specialid = #{specialid}
  </update>

  <update id="updateHitcount" parameterType="dbmap">
    UPDATE special_member
    set hitcount = hitcount+1
    WHERE 1=1
    AND specialid = #{specialid}
  </update>


  <delete id="delete" parameterType="dbmap">
    UPDATE special_member
    SET deleteyn	 = 1
    WHERE 1=1
    AND specialid = #{specialid}

  </delete>


    <delete id="restore" parameterType="dbmap">
        UPDATE special_member
        SET deleteyn	 = 0
        WHERE 1=1
        AND specialid = #{specialid}

    </delete>


  <update id="initailizePwd" parameterType="dbmap">
    UPDATE special_member
    SET password= '1234'
    WHERE 1=1
    AND specialid = #{specialid}
  </update>


  <select id="currMemberId" parameterType="dbmap" resultType="String">
    SELECT IFNULL(MAX(specialid),0)
    FROM special_member
    WHERE SUBSTRING(specialid,1,1) = 'B' AND LENGTH(specialid)=10
  </select>

  <delete id="excelDelete" parameterType="dbmap">
    delete FROM special_member
    WHERE 1=1 and deleteyn=0
    AND specialid = #{specialid}

  </delete>



</mapper>